.collection_hero_wrapper {
  margin-bottom: 50px;
}

.profile_image {
  position: absolute;
  bottom: -40px;
  padding:0 1.2rem;
  span{
    border: 5px solid  #fff !important;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 8%) 0px 5px 20px 0px;
  }
}